dotenv==0.9.9
python-dotenv==1.1.0
ipykernel
pipreqs==0.4.11
kaleido==0.2.1
jupyter==1.1.1
ipywidgets==8.1.6
mistune==2.0.5
nbconvert==7.2.10
matplotlib==3.8.0
yfinance
openbb
numpy
pandas==2.2.3
pandas-datareader==0.10.0
polars==1.27.1
duckdb==1.2.2
pyarrow==19.0.1
openpyxl==3.1.5
fastexcel==0.14.0
great_tables==0.17.0
lxml==5.4.0
plotly==6.0.1
Requests==2.32.3
scipy==1.15.2
seaborn==0.13.2
tqdm==4.65.0
urllib3==2.4.0
statsmodels==0.14.4
quantstats
skfolio==0.9.0
plotnine==0.14.5
adjustText==1.3.0
ipyleaflet==0.19.2
itables==2.3.0
bt
ta-lib
textblob==0.19.0
pytest==8.4.0
scipy
numba